.carousel-container {
    
    position: relative;
    overflow: hidden; 
    margin: auto;
  }
  
  .carousel-slide {
    display: flex;
    width: 400%; 
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-slide img {
    width: 100vw;
    height: 50vw;
    max-width: 100vw; 
  }
  
  .prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn {
    left: 0;
  }
  
  .next-btn {
    right: 0;
  }