footer{
    background-color: #062D3E;
    bottom: 0;
    color: #ED5C01;
    width: 100%;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
}

footer ul li{
    list-style-type: none;
    display: inline;
    margin-right: 10px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    
}

#titulo-footer{
    font-size: 70px;

}


